header {
  background-color: gray; }

.imagen-principal {
  border-radius: 100%; }

.color-borde {
  border-color: white; }

.color {
  background-color: gray; }

li a:hover {
  color: white;
  font-size: 1.8rem; }

footer {
  background-color: gray; }

h1:hover {
  font-size: 4rem;
  color: gray;
  transition: 0.5s; }

h2:hover {
  font-size: 4rem;
  color: gray;
  transition: 0.5s; }

p:hover {
  color: gray;
  transition: 0s; }

@media only screen and (max-width: 420px) {
  /*vista movil*/
  header div a {
    display: none; }
  nav {
    justify-content: center; }
  section div img {
    display: none; } }

.redes, .redes:hover {
  height: 60px;
  width: 60px; }

.redes:hover {
  background-color: white;
  transition: 0.5s; }

.imagen__Pagos {
  height: 90px;
  width: 90px;
  margin: auto;
  padding: 2px;
  display: block; }
