$stilos: (
	colorPrincipal: gray
);


header {
	background-color: map-get($stilos, colorPrincipal);
}
.imagen-principal {
	border-radius: 100%;
}
.color-borde {
	border-color: white;
}
.color {
	background-color: map-get($stilos, colorPrincipal);
}
li {
	a {
		&:hover {
			color: white;
			font-size: 1.8rem;
		}
	}
}
footer {
	background-color: map-get($stilos, colorPrincipal);
}
h1 {
	&:hover {
		font-size: 4rem;
		color: map-get($stilos, colorPrincipal);
		transition: 0.5s;
	}
}

h2 {
	&:hover {
		font-size: 4rem;
		color: map-get($stilos, colorPrincipal);
		transition: 0.5s;
	}
}

p {
	&:hover {
		color: map-get($stilos, colorPrincipal);
		transition: 0s;
	}
}
@media only screen and (max-width: 420px) {/*vista movil*/
	header {
		div {
			a {
				display: none;
			}
		}
	}
	nav {
		justify-content: center;
	}
	section {
		div {
			img {
				display: none;
			}
		}
	}
}

@mixin tamaño($width, $height){
	height: $height;
	width: $width;
 }

.redes{
	@include tamaño(60px, 60px)	
}

.redes:hover{
	 @extend .redes;
	 background-color: white;
	 transition: 0.5s;
}

.imagen__Pagos{
	@include tamaño(90px, 90px)	
    margin: auto;
    padding: 2px;
    display: block;
}